{{ define "main" }}
    {{ $context := . }}
    
    {{ with .Content }}
        {{ partial "single_article.html" $context }}
    {{ else }}
    <section class="archives-wrap">
        <div class="archive-category-wrap">
            <span class="archive-category">{{ .Title }}</span>
        </div>
        <div class="archives">
            {{ $paginator := .Paginate .Data.Pages.ByLastmod.Reverse }}
            {{ .Scratch.Set "index" 0 }}
            {{ range $paginator.Pages }}
                {{ $.Scratch.Set "index" (add ($.Scratch.Get "index") 1) }}
                {{ .Scratch.Set "index" ($.Scratch.Get "index") }}
                {{ .Render "summary" }} 
                {{ partial "adsense/tags" . }}
            {{ end }}

            {{ .Scratch.Set "index" (add .Scratch.Get "index") 1) }}
            {{ partial "adsense/tags" . }}
        </div>

    </section>
    
    {{ partial "pagination" . }}
    {{ end }}
{{ end }}